.light{
	 top:-100px;
	display:inline-block;
	height:35px;
	width:35px;
	background-color:lightblue;
	border-radius: 50%;
	animation-name:one;
	animation-duration:2s;
	position:relative;

}
.red{
  top:-100px;
  width: 35px;
  height: 35px;
  border-radius:50%;
  background-color: red;
  display: inline-block;
  position: relative;
  animation-name: one;
  animation-duration: 2s;
  	animation-delay: .2s;

  }
.blue{
	 top:-100px;
	display:inline-block;
	height:35px;
	width:35px;
	background-color:blue;
	border-radius: 50%;
	animation-name:one;
	animation-duration:2s;
	animation-delay: .16s;
	position:relative;
}
.yellow{
	 top:-100px;
	display:inline-block;
	height:35px;
	width:35px;
	background-color:yellow;
	border-radius: 50%;
	animation-name:one;
	animation-duration:2s;
	position:relative;
}
.purple{
	 top:-100px;
	display:inline-block;
	height:35px;
	width:35px;
	background-color:purple;
	border-radius: 50%;
	animation-name:one;
	animation-duration:2s;
	animation-delay: .21s;
	position:relative;
}
.orange{
	 top:-100px;
	display:inline-block;
	height:35px;
	width:35px;
	background-color:orange;
	border-radius: 50%;
	animation-name:one;
	animation-duration:2s;
		animation-delay: .06s;
	position:relative;
}

	@keyframes one {
  0%   {  top:0px;}
  20%  {  top:300px;}
  40%  { top:270px;}
  60%  { top:300px;}
  90% {  top:290px;}
  100% {  top:0px;}
}
